div.adicionar {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;

  margin-top: 2.7rem;
  margin: auto;

  & input {
    padding: 1rem;
    border: 1px solid var(--border-primary); /* força a borda aparecer */
    border-radius: 0.5rem;
  }

  & button {
    padding: 1rem;
    border-radius: 1rem;
    border: 1px solid var(--color-brand);
    background-color: var(--color-brand);

    cursor: pointer;

    font-size: 1rem;
    font-weight: 600;
    color: white;
  }

  & button:hover {
    background-color: var(--color-brand-hover);
  }
  & input:hover {
    border: 1px solid var(--border-hover);
  }
  & input:focus {
    outline: none; /* remove o contorno azul padrão */
    border: 2px solid var(--color-brand);
    color: var(--content-primary);
  }
}

@media (width >= 53.875em) {
  div.adicionar {
    display: flex;
    flex-direction: row;
    & button {
      width: 10rem;
      padding: 0.5rem;
      font-size: 0.8rem;
    }

    & input {
      padding: 0.5rem;
      width: 30rem;
      border-radius: 0.5rem;
    }
  }
}
