form {
  margin-top: 2.5rem;
  cursor: pointer;
  & ul {
    display: flex; /* Adicione isso */
    flex-direction: column; /* Para alinhar os <li> verticalmente */
    gap: 0.75rem; /* Agora o gap funcionará */
    padding: 0; /* Remove o padding padrão da UL */
    list-style: none; /* Remove os bullets */
  }
  & li {
    display: flex;
    align-items: center;
    justify-content: space-between;

    border-radius: 0.75rem;

    height: 4rem;
    padding: 0.5rem 1rem;
    background-color: var(--background-secondary);

    & label {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      color: var(--content-secondary);
      font: 800 var(--content-secondary) / 1.5 'Inter', sans-serif;
    }
  }
}

img[src*='lixeira'] {
  width: 1.2rem;
}

input[type='checkbox'] {
  width: 1rem;
  height: 1rem;
  border: 0.06rem solid #d1d5db; /* Cor da borda */
  border-radius: 4px; /* Bordas arredondadas */
  appearance: none; /* Remove o estilo padrão do navegador */
  -webkit-appearance: none; /* Safari */
  outline: none;
  cursor: pointer;
  background-color: white; /* Fundo quando desmarcado */
  position: relative;
}

input[type='checkbox']:checked {
  background-color: var(--color-brand); /* Fundo quando marcado */
  border-color: var(--color-brand); /* Cor da borda quando marcado */
}

input[type='checkbox']::before {
  content: '✔';
  position: absolute;
  top: -2px;
  left: 1px;
  font-size: 0.8rem;
  color: var(--border-hover);
  display: none;
}

input[type='checkbox']:checked::before {
  display: block;
}

@media (width >= 53.875em) {
  li {
    max-width: 40rem;
  }
}
