form {
  margin-top: 2.5rem;
}

form ul {
  display: flex; /* Adicione isso */
  flex-direction: column; /* Para alinhar os <li> verticalmente */
  gap: 0.75rem; /* Agora o gap funcionará */
  padding: 0; /* Remove o padding padrão da UL */
  list-style: none; /* Remove os bullets */
}

form li {
  display: flex; /* Para posicionar checkbox + texto + lixeira lado a lado */
  align-items: center;
  justify-content: space-between;

  border-radius: 0.75rem;
  max-width: 20rem;
  height: 4rem;
  padding: 0.5rem 1rem;
  background-color: var(--background-secondary);
}

form li label {
  display: flex;
  align-items: center;
  gap: 0.5rem; /* espaço entre o checkbox e o texto */
}
