*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --background-primary: #f4f5fb;
  --background-secondary: #ffffff;

  --color-brand: #ca3884;
  --color-brand-hover: #a52c6b;
  --color-danger: #c93847;

  --content-primary: #080b12;
  --content-secondary: #374151;
  --content-tertiary: #9ca3af;

  --always-white: #ffffff;

  --border-primary: #d1d5db;
  --border-hover: #b9c2d0;

  /* titulo médio*/
  --title-md: 1.5rem;
  --label-md: 1rem;
  --paragraph-md: 1rem;
  --link: 0.875rem;

  --title-lg: 2rem;
  --label-lg: 1.25rem;
  --paragraph-lg: 1.25rem;
  --link-lg: 1rem;
}

body {
  background-color: var(--background-primary);
  align-items: center;
  overflow: hidden;
  margin: auto;
}

ul {
  list-style: none;
}

main {
  margin: 1rem 2rem auto 2rem;

  width: 390px;
  height: 844px;

  & h1 {
    margin: 1rem 0 2.7rem 0;
    font: 700 var(--title-md) / 1.5 'Inter', sans-serif;
  }
}

@media (width >= 53.875em) {
  main.container {
    margin: auto;

    width: 32rem;
  }
}
